@import "../../../scss/variables";
@import "../../../scss/mixins";

.register {
  max-width: ConvertToRem(600);
  padding-top: ConvertToRem(60);
  margin-left: auto;
  margin-right: auto;

  &__hr {
    height: ConvertToRem(5);
    background: linear-gradient(90deg, #087e8b 0%, #1494dc 50%);
  }

  &__logo {
    margin-top: ConvertToRem(36);
    font-size: ConvertToRem(36);
    line-height: ConvertToRem(36);
    font-weight: bold;
    font-family: $ff-primary;
    color: $primary;
    span {
      color: $accent;
    }
  }

  &__subheading {
    margin-top: ConvertToRem(22);
    font-weight: 400;
    font-size: ConvertToRem(24);
    line-height: ConvertToRem(28);
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__group {
    display: flex;
  }

  &__field {
    display: block;
    font-size: ConvertToRem(14);
    margin-top: ConvertToRem(25);
    min-width: ConvertToRem(200);
    &:first-child {
      margin-right: ConvertToRem(40);
    }

    &--extra-width {
      width: ConvertToRem(300);
    }
  }

  &__checkbox {
    margin-top: ConvertToRem(32);
    font-size: ConvertToRem(14);
  }

  &__submit {
    margin-top: ConvertToRem(32);
    font-size: ConvertToRem(14);
  }

  &__link {
    font-size: ConvertToRem(18);
    line-height: ConvertToRem(21);
    letter-spacing: ConvertToRem(0.9);
    margin-top: ConvertToRem(20);
    font-weight: 500;
    a {
      text-decoration: underline;
      color: $accent;
      &:focus,
      &:visited {
        color: $accent;
      }
    }
  }
}
