@import "../../../scss/variables";
@import "../../../scss/mixins";

.register {
  @include AuthContainer();

  &__hr {
    @include AuthHr();
  }

  &__logo {
    @include AuthLogo();
  }

  &__subheading {
    @include AuthSubheading();
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__group {
    display: flex;
  }

  &__field {
    font-size: ConvertToRem(14);
    margin-top: ConvertToRem(25);
    min-width: ConvertToRem(200);
    &:first-child {
      margin-right: ConvertToRem(40);
    }

    &--extra-width {
      width: ConvertToRem(300);
    }
  }

  &__checkbox {
    margin-top: ConvertToRem(32);
    font-size: ConvertToRem(14);
  }

  &__submit {
    margin-top: ConvertToRem(32);
    font-size: ConvertToRem(14);
  }

  &__link {
    @include AuthLink();
  }
}
