<section class="register">
  <div class="register__hr"></div>
  <h2 class="register__logo">Bahi<span>khata</span></h2>
  <h3 class="register__subheading">Create Your Bahikhata Account</h3>
  <form class="register__form" [formGroup]="registerForm" autocomplete="off" (ngSubmit)="submit()">
    <div class="register__field register__field--extra-width">
      <mat-form-field class="width-100" appearance="outline" color="accent">
        <mat-label>Mobile Number</mat-label>
        <input matInput placeholder="+91-XXXXXXXXXX" formControlName="username" />
      </mat-form-field>
    </div>
    <div class="register__group">
      <div class="register__field">
        <mat-form-field class="width-100" appearance="outline" color="accent">
          <mat-label>Password</mat-label>
          <input matInput placeholder="XXXXXXXXXX" type="password" formControlName="password" />
        </mat-form-field>
      </div>
      <div class="register__field">
        <mat-form-field class="width-100" appearance="outline" color="accent">
          <mat-label>Confirmed Password</mat-label>
          <input matInput placeholder="XXXXXXXXXX" type="password" formControlName="confirmpassword" />
        </mat-form-field>
      </div>
    </div>
    <div class="register__checkbox">
      <mat-checkbox formControlName="acceptterm">Accept Term & Condition</mat-checkbox>
    </div>
    <div class="register__submit">
      <button type="submit" mat-raised-button color="accent">Register</button>
    </div>
  </form>
  <p class="register__link">Already a user?&nbsp;<a routerLink="login">Sign In</a></p>
</section>