@import "../../../scss/variables";
@import "../../../scss/mixins";

.login {
  @include AuthContainer();

  &__hr {
    @include AuthHr();
  }

  &__logo {
    @include AuthLogo();
  }

  &__subheading {
    @include AuthSubheading();
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__field {
    font-size: ConvertToRem(14);
    margin-top: ConvertToRem(25);
    max-width: ConvertToRem(300);
  }

  &__submit {
    margin-top: ConvertToRem(32);
    font-size: ConvertToRem(14);
  }

  &__link {
    @include AuthLink();
  }
}
