// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
@import "./scss/pallete";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$BahikhataWeb-primary: mat-palette($mat-primary);
$BahikhataWeb-accent: mat-palette($mat-accent);

// The warn palette is optional (defaults to red).
$BahikhataWeb-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$BahikhataWeb-theme: mat-light-theme(
  (
    color: (
      primary: $BahikhataWeb-primary,
      accent: $BahikhataWeb-accent,
      warn: $BahikhataWeb-warn,
    ),
  )
);

@include angular-material-theme($BahikhataWeb-theme);

$custom-typography: mat-typography-config(
  $font-family: "Ubuntu,  sans-serif",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500),
);

@include angular-material-typography($custom-typography);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
