/* For use in src/lib/core/theming/_palette.scss */
$mat-primary: (
    50 : #e1f0f1,
    100 : #b5d8dc,
    200 : #84bfc5,
    300 : #52a5ae,
    400 : #2d919c,
    500 : #087e8b,
    600 : #077683,
    700 : #066b78,
    800 : #04616e,
    900 : #024e5b,
    A100 : #8cebff,
    A200 : #59e2ff,
    A400 : #26d9ff,
    A700 : #0dd5ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$mat-accent: (
    50 : #e6f0fd,
    100 : #c1d9fa,
    200 : #97c0f6,
    300 : #6da6f2,
    400 : #4e93f0,
    500 : #2f80ed,
    600 : #2a78eb,
    700 : #236de8,
    800 : #1d63e5,
    900 : #1250e0,
    A100 : #ffffff,
    A200 : #dbe5ff,
    A400 : #a8bfff,
    A700 : #8facff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

