<div class="container">
  <div id="addTransaction">
    <app-heading title="Add a Transaction"></app-heading>
  </div>
  <div id="transaction">
    <div id="transactionLeft">
      <form [formGroup]="myReactiveTransaction" #form="ngForm" class="form_group" autocomplete="off"
        (submit)="onSubmit()">
        <div id="transactionLeft1">
          <mat-form-field id="CustomerName" appearance="outline" color="accent">
            <mat-label>Customer Name</mat-label>
            <input name="Cust_name" matInput placeholder="Placeholder" formControlName="customerName" />
          </mat-form-field>

          <mat-form-field id="mob_num" appearance="outline" color="accent">
            <mat-label>Mobile Number</mat-label>
            <input name="Mob_Num" matInput placeholder="Placeholder" formControlName="mobileNumber" />
          </mat-form-field>
        </div>
        <div class="transactionLeft2" formArrayName="addProductDetailFields">
          <ng-container *ngFor="let productField of formArray.controls; let i = index">
            <ng-container [formGroupName]="i">
              <mat-form-field id="Prdct" class="rapp" appearance="outline" color="accent" width="93px">
                <mat-label>Product</mat-label>
                <input name="Product" matInput placeholder="Placeholder" formControlName="product" />
              </mat-form-field>

              <mat-form-field id="Price" class="trans" appearance="outline" color="accent">
                <mat-label>Price</mat-label>
                <input name="Price" matInput placeholder="Placeholder" formControlName="price" />
              </mat-form-field>

              <mat-form-field id="QNT" class="trans" appearance="outline" color="accent">
                <mat-label>Quantity</mat-label>
                <input name="Quantity" matInput placeholder="Placeholder" formControlName="quantity" />
              </mat-form-field>

              <mat-form-field id="AMT" class="trans" appearance="outline" color="accent">
                <mat-label>Amount</mat-label>
                <input name="Amount" matInput placeholder="Placeholder" formControlName="amount" />
              </mat-form-field>

              <mat-form-field id="GST" class="trans" appearance="outline" color="accent">
                <mat-label>GST</mat-label>
                <input name="GST" matInput placeholder="Placeholder" formControlName="gst" />
              </mat-form-field>

            </ng-container>
          </ng-container>
          <button mat-button class="trans btn-add btn btn-light" id="addItem" (click)="onAdd()" type="button">
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
        <div class="transactionLeft3">
          <mat-form-field id="DATE" class="rapp" appearance="outline" color="accent">
            <mat-label>Date</mat-label>
            <input name="Date" matInput placeholder="Placeholder" [matDatepicker]="picker" formControlName="date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <mat-checkbox class="paid trans" name="paid" formControlName="paid"></mat-checkbox>
        </div>

        <div class="submit">
          <button type="submit" mat-raised-button class="trans" id="Add" color="accent">
            Add
          </button>

          <button type="reset" mat-raised-button class="trans" id="Reset" color="warn">
            Reset
          </button>
        </div>
      </form>
    </div>
    <div id="transactionRight" class="tnsctn"></div>
  </div>

  <app-heading title="Transactions" class="transactionHeader"></app-heading>
  <div class="footer">
    <table mat-table [dataSource]="transactionDataSource">
      <ng-container matColumnDef="customerName">
        <th mat-header-cell *matHeaderCellDef>Customer Name</th>
        <td mat-cell *matCellDef="let element">{{ element.customer.name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="mobileNumber">
        <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
        <td mat-cell *matCellDef="let element">
          {{ element.customer.contactNumber }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="products">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">{{ element.products[0].product.name }}
          <!-- <div *ngFor= "let elements of element.products"></div> -->
        </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>Price</th>
        <td mat-cell *matCellDef="let element">{{ element.position }}</td>
      </ng-container>

      <!-- amount Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef>Amount</th>
        <td mat-cell *matCellDef="let element">{{ element.amount }}</td>
      </ng-container>


      <!-- Symbol Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{ element.date }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- <tr *ngFor="let com of lstposts">
        <td>{{ com.customer.name }}</td>
        <td>{{ com.customer.contactNumber }}</td>

        <div *ngFor="let p of com.products">
          <td>{{ p.quantity }}</td>
          <td>{{ p.product.name }}</td>
          <td>{{ p.product.price }}</td>
          <td>{{ p.amount }}</td>
          <td>{{ p.product.gst }}</td>
        </div>

        <td>{{ com.date }}</td>
      </tr> -->
    </table>
  </div>
</div>