@import "../../scss/variables";
@import "../../scss/mixins";



#Logout {
  /* Red */
  text-decoration: none;
}
#transaction {
  display: flex;
  flex-direction: column;
  width: 60%;
}
#transactionLeft1 {
  /* white */
  margin-top: ConvertToRem(20);
  margin-left: ConvertToRem(47);
  background: #ffffff;
  /* Blue 1 */

  border-radius: ConvertToRem(6);
}

#addTransaction {
  
  margin-top: ConvertToRem(15);
  margin-left: ConvertToRem(-12);

}

#mob_num {
  margin-left: ConvertToRem(35);
  width: 20%;
}
.rapp {
  width: ConvertToRem(180);
  margin-left: ConvertToRem(47);
}

.trans {
  width: ConvertToRem(80);
  margin-left: ConvertToRem(15);
}
.CustomerName {
  width: 100%;
}

#addItem {
  background: $primary;
  /* Blue 1 */
  width: 5%;
  border-radius: ConvertToRem(6);
}
#addItem:hover {
  background: $primary;
}

.submit {
  margin-left: ConvertToRem(30);
  margin-top: ConvertToRem(5);
}

.transactionHeader
{
  margin-top: ConvertToRem(50);
  margin-left: ConvertToRem(-12);
}

.container {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
}

.footer
{
  margin-left:ConvertToRem(47);
  margin-top: ConvertToRem(5);
}

table {
  width: 100%;
}